/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #272727;
}

body {
  overflow-x: hidden !important;
  color: #fff !important;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  width: 100% !important;
  min-width: fit-content;
  min-height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

h1 {
  font-size: 42pt !important;
}

h2 {
  font-size: 28pt !important;
}

h3 {
  font-size: 22pt !important;
}

h4 {
  font-size: 18pt !important;
}

h5 {
  font-size: 16pt !important;
}

h6 {
  font-size: 14pt !important;
}

p {
  font-size: 11pt !important;
}

.main {
  max-width: 1200px;
  width: 100%;
  height: 63vw;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.page-heading {
  z-index: 8;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
  opacity: 0.8;
  font-weight: 400;
}

form {
  z-index: 8;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_text {
  text-transform: capitalize;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#weather-card {
  opacity: 0;
}

.fadein {
  animation: fadeIn ease 1s forwards;
  -webkit-animation: fadeIn ease 1s forwards;
  -moz-animation: fadeIn ease 1s forwards;
  -o-animation: fadeIn ease 1s forwards;
  -ms-animation: fadeIn ease 1s forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card_content {
  position: absolute;
  text-align: center;
  padding: 0;
  top: 230px;
  width: 100%;
  max-width: 600px;
  height: 100%;
  color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

.card_title {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 0.8rem;
}

.card_text {
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  margin: 0px !important;
}

/* Searchbar */

input[type="text"] {
  padding: 10px;
  font-size: 17px;
  color: #fff;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: transparent;
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  outline: none;
  cursor: pointer;
}

.search-submit-button {
  float: left;
  width: 10%;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  border: 1px solid transparent;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  background: url("assets/icons/search-svgrepo-com.svg") center center no-repeat;
  background-size: 30px 30px;
}

.search-submit-button:hover {
  opacity: 0.5;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(333deg)
    brightness(102%) contrast(98%);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.error-message {
  display: block;
  position: absolute;
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 73px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.city-name {
  z-index: 12;
  position: absolute;
  font-size: 38pt !important;
  top: 0px;
  text-align: center;
  left: 0;
  right: 0;
}

.city-stats {
  height: 100%;
}

.temperature {
  font-weight: 600;
  z-index: 12;
  position: absolute;
  top: 146px;
  text-align: center;
  left: 0;
  right: 0;
}

.city-current-time {
  bottom: 64px;
  z-index: 12;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  font-weight: 400;
}

.date {
  bottom: 58px;
  z-index: 12;
  position: absolute;
  text-align: center;
  opacity: 0.6;
  left: 0;
  right: 0;
}

.description {
  top: 106px;
  z-index: 12;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}

.windspeed {
  bottom: 30px;
  z-index: 12;
  position: absolute;
  text-align: center;
  opacity: 0.6;
  left: 0;
  right: 0;
}

/* Sky Backgrounds */

.sunrise {
  background: rgb(56, 56, 86);
  background: linear-gradient(
    180deg,
    rgba(56, 56, 86, 1) 0%,
    rgba(225, 147, 163, 1) 100%
  );
}

.bluesky {
  background: rgb(95, 150, 175);
  background: linear-gradient(
    180deg,
    rgba(95, 150, 175, 1) 0%,
    rgba(23, 127, 174, 1) 100%
  );
}

.greysky {
  background: rgb(67, 68, 70);
  background: linear-gradient(
    180deg,
    rgba(67, 68, 70, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.stormysky {
  background: rgb(28, 31, 36);
  background: linear-gradient(
    180deg,
    rgba(28, 31, 36, 1) 0%,
    rgba(59, 63, 69, 1) 51%,
    rgba(28, 31, 36, 1) 100%
  );
}

.sunset {
  background: rgb(35, 34, 52);
  background: linear-gradient(
    180deg,
    rgba(35, 34, 52, 1) 0%,
    rgba(242, 143, 101, 1) 100%
  );
}

.nightsky {
  background: rgb(5, 4, 7);
  background: linear-gradient(
    180deg,
    rgba(5, 4, 7, 1) 0%,
    rgba(49, 49, 77, 1) 100%
  );
}

/* Weather Animations */

/* Clear Day With Sun */

.sun {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: transparent url(assets/images/sun.png) repeat;
  background-position: 18% 98%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-size: 260%;
}

/* Clear Evening With Stars */

.starry-sky {
  display: block;
  opacity: 0;
}

.stars {
  background-color: white;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star-1 {
  margin-top: 15%;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-2 {
  margin-top: 16%;
  margin-left: 25%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.star-3 {
  margin-top: 8%;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-4 {
  margin-top: -33%;
  margin-left: 68%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-5 {
  margin-top: 6%;
  margin-left: 57%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.star-6 {
  margin-top: 13%;
  margin-left: 23%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.star-7 {
  margin-top: 3%;
  margin-left: 19%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-8 {
  margin-top: 5%;
  margin-left: 25%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-9 {
  margin-top: -7%;
  margin-left: 23%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-10 {
  margin-top: -4%;
  margin-left: 20%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-11 {
  margin-top: -17%;
  margin-left: 31%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-12 {
  margin-top: -1%;
  margin-left: 29%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

@keyframes twinkle-1 {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-2 {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

/* Cloudy Conditions */

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.visible {
  opacity: 1 !important;
}

.removed {
  opacity: 0 !important;
}

.clouds {
  opacity: 0;
  width: 10000px;
  height: 100%;
  background: transparent url("assets/images/clouds1.png") repeat;
  background-size: 16%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

/* Fog */

.fog {
  opacity: 0;
  width: 10000px;
  height: 100%;
  background: transparent url("assets/images/fog.png") repeat;
  background-position: 20% 142%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

/* Dust */

.dust-visibility {
  opacity: 0.7;
}

.dust {
  opacity: 0;
  width: 10000px;
  height: 100%;
  background: transparent url("assets/images/dust.png") repeat;
  background-position: 20% 142%;
  background-size: 40%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

/* Snow Clouds */

.visible-stormclouds {
  opacity: 0.6 !important;
}

.stormclouds {
  width: 75vw;
  height: 100%;
  background: transparent url("assets/images/snow-cloud.png") repeat;
  background-position: 0% -14%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-size: 100%;
  background-repeat-y: no-repeat;
  opacity: 0;
  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

/* Rain */

.visible-rain {
  opacity: 0.3 !important;
}

.rain {
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  background: transparent url(assets/images/rainy1.png) repeat;
  background-size: 100%;
  animation: rain 0.3s linear infinite;
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}

.lightning-visibility {
  visibility: visible !important;
}

.lightning {
  visibility: hidden;
  background: transparent url(assets/images/lightning.png) no-repeat;
  position: absolute;
  top: 0;
  background-size: 100%;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-animation: flash linear 3s;
  animation: flash linear 3s;
  animation-iteration-count: 4;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Snow */

.snowflakes {
  width: 100%;
  height: 650px;
  opacity: 0;
}

.snowflake1 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 7%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  animation: snow 10s linear infinite;
}

.snowflake2 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 5%;
  opacity: 0.6;
  position: absolute;
  top: -64px;
  left: 61px;
  animation: snow 10s linear infinite;
}

.snowflake3 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 8%;
  opacity: 0.3;
  position: absolute;
  top: -94px;
  left: 81px;
  animation: snow 10s linear infinite;
}

.snowflake4 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 5%;
  opacity: 0.4;
  position: absolute;
  top: -194px;
  left: 121px;
  animation: snow 10s linear infinite;
}

.snowflake5 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 5%;
  opacity: 0.4;
  position: absolute;
  top: -94px;
  left: 233px;
  animation: snow 10s linear infinite;
}

.snowflake6 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 5%;
  opacity: 0.4;
  position: absolute;
  top: -260px;
  left: 289px;
  animation: snow 10s linear infinite;
}

.snowflake7 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 7%;
  opacity: 0.3;
  position: absolute;
  top: -290px;
  left: 269px;
  animation: snow 10s linear infinite;
}

.snowflake8 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 5%;
  opacity: 0.6;
  position: absolute;
  top: -342px;
  left: 358px;
  animation: snow 10s linear infinite;
}

.snowflake9 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 7%;
  opacity: 0.4;
  position: absolute;
  top: -365px;
  left: 397px;
  animation: snow 10s linear infinite;
}

.snowflake10 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 7%;
  opacity: 0.3;
  position: absolute;
  top: -200px;
  left: 61px;
  animation: snow 10s linear infinite;
}

.snowflake11 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 6%;
  opacity: 0.4;
  position: absolute;
  top: -120px;
  left: 100px;
  animation: snow 10s linear infinite;
}

.snowflake12 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 6%;
  opacity: 0.5;
  position: absolute;
  top: -175px;
  left: 301px;
  animation: snow 10s linear infinite;
}

.snowflake13 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 5%;
  opacity: 0.6;
  position: absolute;
  top: -201px;
  left: 237px;
  animation: snow 10s linear infinite;
}

.snowflake14 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 7%;
  opacity: 0.5;
  position: absolute;
  top: -200px;
  left: 20px;
  animation: snow 10s linear infinite;
}

.snowflake15 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 6%;
  opacity: 0.7;
  position: absolute;
  top: -103px;
  left: 90px;
  animation: snow 10s linear infinite;
}

.snowflake16 {
  background: transparent url(assets/images/snowflake.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 7%;
  opacity: 0.3;
  position: absolute;
  top: -290px;
  left: 50px;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 100px 650px;
  }
}

/* Tornado */

.tornado {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: transparent url(assets/images/tornado.png) repeat;
  background-position: 42% 106%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-size: 136%;
}
